$delphis-header-background: rgba(31, 32, 35, 1);
$delphis-app-background: rgba(7, 16, 18, 1);

$delphis-discussion-card-background: rgba(32, 40, 42, 1);
$delphis-discussion-card-border: rgba(81, 88, 89, 1);

$font-color-white: rgba(255, 255, 255, 1);