@import '../../../styles/colors.scss';

.discussion-post {
    border: $delphis-discussion-card-border 2px solid;
    border-radius: 30px;
    background-color: $delphis-discussion-card-background;
    color: $font-color-white;
}