@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "./styles/colors.scss";

html {
  height: 100vh;
  background-color: $delphis-app-background;
}

body {
  margin: 0;
  font-family: 'Neue Hans Kendrick';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: Neue Hans Kendrick;
  src: url("/fonts/WEB/NeueHansKendrick-Regular.otf"),
       url("/fonts/WEB/NeueHansKendrick-Regular.ttf");
}