@import '../../../styles/colors.scss';

.discussion-card {
    border: $delphis-discussion-card-border 2px solid;
    border-radius: 30px;
    background-color: $delphis-discussion-card-background;
    color: $font-color-white;

    .footer {
        .moderator {
            .profile-image {
                border-radius: 50%;
                width: 30px;
                height: 30px;
            }
        }
    }
}