@import "../../styles/colors.scss";

.discussions {
    .header-image {
        display: block;
        margin: auto;
        width: 40px;
    }

    .selector {
        color: $font-color-white;
        cursor: pointer;
    
        &.selected {
            border-image-source: linear-gradient(45deg, rgb(120,81,194), rgb(192,81,193));
            border-bottom: 2px solid;
            border-image-slice: 1;
        }
    }
}